<div class="section" id="experience">
  <div class="container py-2 cc-experience">
    <div class="h4 text-center mb-4 title">Work Experience</div>
    <div class="row-12">
      <ul class="timeline">
        <li>
          <div class="timeline-badge up bg-green">
            <i class="fa fa-check"></i>
          </div>
          <div class="timeline-panel">
            <div class="row">
              <div class="col-lg-6 ">
                <div class="h5 mt-0 title">PT. WALDEN GLOBAL SERVICES</div>
                <div class="h6 mt-0 title">Developer (November 2019 - April 2021)</div>
                <p align="justify">WGS is one of the leading SI company in Indonesia, specializing in software solutions
                  and application delivery & managed services.</p>
                <p align="justify">I'm working as Web Developer</p>
              </div>
              <div class="col-lg-6">
                <ul>
                  <li class="list">Core Functionality</li>
                  <ul>
                    <li class="non_list">Software Development</li>
                    <li class="non_list">Application Development</li>
                    <li class="non_list">Web Development</li>
                  </ul>
                  <li class="list">Technologies and Language</li>
                  <ul>
                    <div class="row">
                      <div class="col-md-6">
                        <li class="non_list">Agile</li>
                        <li class="non_list">Angular</li>
                        <li class="non_list">Docker</li>
                      </div>
                      <div class="col-md-6">
                        <li class="non_list">Git</li>
                        <li class="non_list">Laravel</li>
                        <li class="non_list">NodeJS</li>
                      </div>
                    </div>
                  </ul>
                </ul>
              </div>
            </div>
          </div>
        </li>
        <li>
          <div class="timeline-badge up bg-green">
            <i class="fa fa-check"></i>
          </div>
          <div class="timeline-panel">
            <div class="row">
              <div class="col-lg-6 ">
                <div class="h5 mt-0 title">PT. MULTIPOLAR TECHNOLOGY</div>
                <div class="h6 mt-0 title">Freelance Fullstack Developer (February 2019 - April 2019)</div>
                <p align="justify">In this company im helping to build Internal applications related to project and testing management for one of the Banks in Indonesia.</p>
              </div>
              <div class="col-lg-6">
                <ul>
                  <li class="list">Core Functionality</li>
                  <ul>
                    <li class="non_list">Software Development</li>
                    <li class="non_list">Web Development</li>
                    <li class="non_list">Application Development</li>
                  </ul>
                  <li class="list">Technologies and Language</li>
                  <ul>
                    <div class="row">
                      <div class="col-md-6">
                        <li class="non_list">Java Springboot</li>
                        <li class="non_list">Hibernate</li>
                      </div>
                      <div class="col-md-6">
                        <li class="non_list">Angular</li>
                        <li class="non_list">NodeJS</li>
                      </div>
                    </div>
                  </ul>
                </ul>
              </div>
            </div>
          </div>
        </li>
        <li>
          <div class="timeline-badge up bg-green">
            <i class="fa fa-check"></i>
          </div>
          <div class="timeline-panel">
            <div class="row">
              <div class="col-lg-6 ">
                <div class="h5 mt-0 title">PT. GLOBAL FUTURE TECHNOLOGY</div>
                <div class="h6 mt-0 title">Internship Web Developer (August 2018 - September 2018)</div>
                <p align="justify">Build Geolocation Information System (GIS) for routing sales with Dijkstra & A-Star
                  algorithm.</p>
              </div>
              <div class="col-lg-6">
                <ul>
                  <li class="list">Core Functionality</li>
                  <ul>
                    <li class="non_list">Software Development</li>
                    <li class="non_list">Geolocation Information System</li>
                    <li class="non_list">Web Development</li>
                  </ul>
                  <li class="list">Technologies and Language</li>
                  <ul>
                    <div class="row">
                      <div class="col-md-6">
                        <li class="non_list">Bootstrap</li>
                        <li class="non_list">Codeigniter</li>
                      </div>
                      <div class="col-md-6">
                        <li class="non_list">Jquery</li>
                      </div>
                    </div>
                  </ul>
                </ul>
              </div>
            </div>
          </div>
        </li>
        <li>
          <div class="timeline-badge up bg-green">
            <i class="fa fa-check"></i>
          </div>
          <div class="timeline-panel">
            <div class="row">
              <div class="col-lg-6 ">
                <div class="h5 mt-0 title">PT. INFOMEDIA SOLUSI HUMANIKA</div>
                <div class="h6 mt-0 title">Helpdesk Divisi Data Management (May 2017 - June 2018)</div>
                <p align="justify">I'm working as Helpdesk Data Management in Telkom Indonesia.</p>
              </div>
              <div class="col-lg-6">
                <ul>
                  <li class="list">Core Functionality</li>
                  <ul>
                    <li class="non_list">Helpdesk</li>
                    <li class="non_list">Data Management</li>
                  </ul>
                  <li class="list">Technologies and Language</li>
                  <ul>
                    <div class="row">
                      <div class="col-md-6">
                        <li class="non_list">NOSS-F</li>
                        <li class="non_list">Spreadsheet</li>
                      </div>
                      <div class="col-md-6">
                        <li class="non_list">Starclick</li>
                        <li class="non_list">UIM</li>
                      </div>
                    </div>
                  </ul>
                </ul>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
