<div class="section" id="about">
  <div class="container">
    <div class="card" data-aos="fade-up" data-aos-offset="10">
      <div class="row">
        <div class="col-lg-6 col-md-12">
          <div class="card-body">
            <div class="h4 mt-0 title">About Me</div>
            <p align="justify" style="font-size: 12pt;">I am a graduated of the Indonesian Computer University (UNIKOM), Majoring in Information Systems. I Master the basic of programming and in recent years I have studied many frameworks including Angular, ReactJS, Laravel, and NodeJS. I also quite understand about Docker and the work process with Agile</p>
            <!-- <p align="justify">Lover of innovation and everything related to generate new knowledge.Face problems with a
              smile and solve them as soon as possible. Very calculated about the time I spend and work I do.</p>
            <p align="justify">To learn more about me, keep exploring my site or reach out directly.</p> -->
          </div>
        </div>
        <div class="col-lg-6 col-md-12">
          <div class="card-body">
            <div class="h4 mt-0 title">Basic Information</div>
            <div class="row">
              <div class="col-sm-4">
                <strong class="text-uppercase">Date of Birth:</strong>
              </div>
              <div class="col-sm-8">August 4, 1997</div>
            </div>
            <div class="row mt-4">
              <div class="col-sm-4">
                <strong class="text-uppercase">Email:</strong>
              </div>
              <div class="col-sm-8">ariyaagustian@gmail.com</div>
            </div>
            <div class="row mt-4">
              <div class="col-sm-4">
                <strong class="text-uppercase">Mobile No:</strong>
              </div>
              <div class="col-sm-8">+6282191987858</div>
            </div>
            <div class="row mt-4">
              <div class="col-sm-4">
                <strong class="text-uppercase">Language:</strong>
              </div>
              <div class="col-sm-8">Indonesia, English, Sunda</div>
            </div>
            <div class="row mt-4">
              <div class="col-sm-4">
                <strong class="text-uppercase">Address:</strong>
              </div>
              <div class="col-sm-8">Jl. Babakan tarogong, Gg. Asih 3, RT 003 / RW 004, Kel. Babakan Asih, Kec. Bojongloa Kaler, Bandung 40232</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
