<div class="section" id="education">
  <div class="container cc-education">
    <div class="h4 text-center mb-4 title">Education</div>
    <div class="card">
      <div class="row">
        <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
          <div class="card-body cc-education-header">
            <p>2015 - 2019</p>
            <div class="h5">Bachelor Degree</div>
          </div>
        </div>
        <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
          <div class="card-body">
            <div class="h4">Information Systems</div>
            <h4 class="category">Universitas Komputer Indonesia</h4>
            <ul>
              <li>Completed Bachelor of Information Systems in Faculty of Engineering and Science with <b>3.88 GPA</b>.</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="row">
        <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
          <div class="card-body cc-education-header">
            <p>2012-2015</p>
            <div class="h5">Vocational High School</div>
          </div>
        </div>
        <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
          <div class="card-body">
            <div class="h4">Computer and Network Engineer</div>
            <h4 class="category">SMK Negeri 4 Bandung</h4>
            <ul>
              <li>Completed to be Computer and Network Engineering in <b>Vocational High School 4 Bandung</b>.</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
